sp:
  order-service:
    order: "[{\"id\":1, \"ordername\":\"orderabc\"},{\"id\":8, \"ordername\":\"orderdef\"}]"
spring:
  application:
    name: order-service
  cloud:
    config:
      override-none: true  
  rabbitmq:
    host: 192.168.201.129
    port: 5672
    username: admin
    password: admin
    
    
server:
  port: 8201
eureka:
  client:
    service-url:
      defaultZone: http://eureka1:2001/eureka, http://eureka2:2002/eureka

feign:
  hystrix:
    enabled: true
hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 5000    
            
management:
  endpoints:
    web:
      exposure:
        include: hystrix.stream
